<nav class="w-full bg-gray-800 py-4 px-4 sm:px-6 sticky  z-50 shadow-md text-gray-300">
  <div class="flex items-center justify-between">
    <!-- زر الرجوع -->
    <button (click)="goBack()" class="text-gray-300 hover:text-white flex-shrink-0">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
    </button>

    <!-- عنوان المسرحية -->
    <h1 class="text-lg sm:text-xl font-bold text-center flex-1">عائله اكسبلور</h1>

    <!-- عنصر فارغ للموازنة -->
    <div class="w-6 flex-shrink-0"></div>
  </div>
</nav>
