<ng-container *ngIf="isVisible$ | async">
  <div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div
      @modalAnimation
      class="bg-[hsl(217.5_11.4%_13.7%)] w-full max-w-sm rounded-md shadow-lg"
    >
      <!-- Header -->
      <div class="flex items-center justify-between border-b border-gray-400 px-4 py-3">
        <h2 class="text-base font-normal text-gray-700">Select a Show</h2>
        <button (click)="close()" class="text-gray-600 hover:text-gray-800">
          <i class="mdi mdi-close text-xl"></i>
        </button>
      </div>

      <!-- List -->
      <ul class="divide-y divide-solid divide-gray-300 mb-4">
        <li *ngFor="let show of shows"
            (click)="selectShow(show.id)"
            class="cursor-pointer bg-[hsl(217.5_11.4%_13.7%)] hover:bg-[hsla(240,1%,30%,1)] flex w-full relative py-3 px-4 text-white">
          <div class="flex w-full py-2">
            <div class="grow me-2">{{ show.day }}</div>
            <div class="flex items-center ms-auto">
              <i class="mdi mdi-chevron-right text-gray-500 mdi-24px"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
